############################# Server Basics #############################

# The id of the broker. This must be set to a unique integer for each broker.

broker.id={{kafkaid[ansible_fqdn]}}


# change your.host.name by your machine's IP or hostname
advertised.listeners={{kafka_security_protocol}}://{{ansible_fqdn}}:{{kafka_listener_port}}

# Switch to enable topic deletion or not, default value is false
delete.topic.enable={{kafka_delete_topic_enable}}

############################# Log Basics #############################

# A comma seperated list of directories under which to store log files
log.dirs={{kafka_log_dirs}}

# The default number of log partitions per topic. More partitions allow greater
# parallelism for consumption, but this will also result in more files across
# the brokers.
num.partitions={{kafka_default_num_partitions}}
# we will have 3 brokers so the default replication factor should be 2 or 3
default.replication.factor={{kafka_default_replication_factor}}
# number of ISR to have in order to minimize data loss
min.insync.replicas={{kafka_default_min_insync_replicas}}

############################# Log Retention Policy #############################

# The minimum age of a log file to be eligible for deletion due to age
# this will delete data after a week
log.retention.hours={{kafka_default_log_retention_hours}}

# The maximum size of a log segment file. When this size is reached a new log segment will be created.
log.segment.bytes={{kafka_default_log_segment_bytes}}

# The interval at which log segments are checked to see if they can be deleted according
# to the retention policies
log.retention.check.interval.ms={{kafka_default_log_retention_check_interval_ms}}

############################# Zookeeper #############################

# Zookeeper connection string (see zookeeper docs for details).
# This is a comma separated host:port pairs, each corresponding to a zk
# server. e.g. "127.0.0.1:3000,127.0.0.1:3001,127.0.0.1:3002".
# You can also append an optional chroot string to the urls to specify the
# root directory for all kafka znodes.

zookeeper.connect={{zkstring}}/kafka

# Timeout in ms for connecting to zookeeper
zookeeper.connection.timeout.ms={{kafka_zookeeper_connection_timeout_ms}}


############################## Other ##################################
# I recommend you set this to false in production.
# We'll keep it as true for the course
auto.create.topics.enable={{kafka_auto_create_topics_enable}}
